.wc-item-meta li{
    display: flex;
    flex-direction: column !important;
    background: #f9f9f9;
    border-left: 4px solid #007cba;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.wc-item-meta-label {
    font-weight: 600;
    color: #333;
    margin-bottom: 6px;
}

.wc-item-meta li p {
    margin: 0 0 4px;
    color: #444;
    line-height: 1.4;
}

